.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.Header {
  margin: 10px;
}

h1 {
  font-weight: bold;
  font-size: 48px;
  color: #F0D50B;
  text-shadow: 1px 1px 5px gray;
}

/* write your parent styles in here for your App.js */
